.friend_list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  margin: 0 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #463e3e;
}
